[submodule "deps/ceph-ansible"]
	path = deps/ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
	branch = stable-3.1
[submodule "roles/debootstrap"]
	path = roles/debootstrap
	url = https://github.com/ProgVal/ansible-debootstrap.git
[submodule "playbooks/files/munin-plugins"]
	path = playbooks/files/munin-plugins
	url = https://git.sr.ht/~vlorentz/munin-plugins
[submodule "playbooks/files/munin-contrib"]
	path = playbooks/files/munin-contrib
	url = https://github.com/ProgVal/contrib.git
