[Unit]
After=etc.mount
Requires=etc.mount
DefaultDependencies=no
Before=local-fs.target
Before=systemd-tmpfiles-setup.service

[Install]
RequiredBy=local-fs.target
RequiredBy=systemd-tmpfiles-setup.service
