[Unit]
Description=Mount a tmpfs on /mnt/__upper_etc and creates datadir and workdir in it
Before=etc.mount
DefaultDependencies=no

[Install]
RequiredBy=etc.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -ec "mount -t tmpfs tmpfs /mnt/__upper_etc; \
                       mkdir /mnt/__upper_etc/datadir; \
                       mkdir /mnt/__upper_etc/workdir;"
